@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
body {
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7vh;
  background-color: #B4E7CE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
  font-family: "Lato", Helvetica, sans-serif;
}

nav h1 {
  margin: 0;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

header {
  height: 93vh;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

header div {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

header div img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

header div img:hover {
  opacity: 1;
}

header div .hidden-illustration {
  display: none;
}

header div .full-screen-illustration {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

header div .full-screen-illustration #top_leaf {
  -webkit-animation: leaf 2s ease infinite;
          animation: leaf 2s ease infinite;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  transform-box: fill-box;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

header div .full-screen-illustration #bottom_leaf {
  -webkit-animation: leaf 2s linear infinite;
          animation: leaf 2s linear infinite;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  transform-box: fill-box;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

header div .full-screen-illustration #legs {
  -webkit-animation: bounceUp 2s linear infinite;
          animation: bounceUp 2s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
  transform-box: fill-box;
}

header div .full-screen-illustration #hair_bottom {
  -webkit-animation: bounceUp 2s ease infinite;
          animation: bounceUp 2s ease infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

header div .full-screen-illustration #hair_bottom, header div .full-screen-illustration #hair_top {
  -webkit-animation: hairFlow 2s linear infinite;
          animation: hairFlow 2s linear infinite;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  transform-box: fill-box;
}

header div .full-screen-illustration #upper_body, header div .full-screen-illustration #hair_bottom, header div .full-screen-illustration #hair_top {
  -webkit-animation: sideToSide 2s linear infinite;
          animation: sideToSide 2s linear infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

header div .full-screen-illustration #hair_top {
  -webkit-animation: moveHairTop 2s linear infinite;
          animation: moveHairTop 2s linear infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

header div .full-screen-illustration #ribbon_left {
  -webkit-animation: sideToSide 2s linear infinite;
          animation: sideToSide 2s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

header div .full-screen-illustration #ribbon_right {
  -webkit-transform: rotate(7deg) scaleX(0.9) translate(0, 60%);
          transform: rotate(7deg) scaleX(0.9) translate(0, 60%);
  -webkit-animation: zAxis 2s linear infinite;
          animation: zAxis 2s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes leaf {
  0% {
    -webkit-transform: translate(0, 0) rotate(10deg);
            transform: translate(0, 0) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(0, -10%) rotate(30deg);
            transform: translate(0, -10%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(10deg);
            transform: translate(0, 0) rotate(10deg);
  }
}

@keyframes leaf {
  0% {
    -webkit-transform: translate(0, 0) rotate(10deg);
            transform: translate(0, 0) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(0, -10%) rotate(30deg);
            transform: translate(0, -10%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(10deg);
            transform: translate(0, 0) rotate(10deg);
  }
}

@-webkit-keyframes bounceUp {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes bounceUp {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@-webkit-keyframes hairFlow {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes hairFlow {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes sideToSide {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes sideToSide {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@-webkit-keyframes zAxis {
  0% {
    /* transform: rotate(-1deg) */
    -webkit-transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
            transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
  }
  50% {
    /* transform: rotate(1deg) */
    -webkit-transform: rotate(10deg) scaleX(1) translate(0, 30%);
            transform: rotate(10deg) scaleX(1) translate(0, 30%);
  }
  100% {
    /* transform: rotate(-1deg) */
    -webkit-transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
            transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
  }
}

@keyframes zAxis {
  0% {
    /* transform: rotate(-1deg) */
    -webkit-transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
            transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
  }
  50% {
    /* transform: rotate(1deg) */
    -webkit-transform: rotate(10deg) scaleX(1) translate(0, 30%);
            transform: rotate(10deg) scaleX(1) translate(0, 30%);
  }
  100% {
    /* transform: rotate(-1deg) */
    -webkit-transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
            transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
  }
}

@-webkit-keyframes moveHairTop {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@keyframes moveHairTop {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  66% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  66% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

header div .full-screen-illustration #plate {
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: bubble-plate 2s ease-in;
          animation: bubble-plate 2s ease-in;
}

@-webkit-keyframes bubble-plate {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(200deg) translate(66vw, 66vh);
            transform: scale(0) rotate(200deg) translate(66vw, 66vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(144deg) translate(-98vw, -98vh);
            transform: scale(0.25) rotate(144deg) translate(-98vw, -98vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(22deg) translate(39vw, 39vh);
            transform: scale(0.5) rotate(22deg) translate(39vw, 39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(236deg) translate(-29vw, -29vh);
            transform: scale(0.5) rotate(236deg) translate(-29vw, -29vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-plate {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(200deg) translate(66vw, 66vh);
            transform: scale(0) rotate(200deg) translate(66vw, 66vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(144deg) translate(-98vw, -98vh);
            transform: scale(0.25) rotate(144deg) translate(-98vw, -98vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(22deg) translate(39vw, 39vh);
            transform: scale(0.5) rotate(22deg) translate(39vw, 39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(236deg) translate(-29vw, -29vh);
            transform: scale(0.5) rotate(236deg) translate(-29vw, -29vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #cup_shadow {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-cup-sh 2s ease-in;
          animation: bubble-cup-sh 2s ease-in;
}

@-webkit-keyframes bubble-cup-sh {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(186deg) translate(40vw, 40vh);
            transform: scale(0) rotate(186deg) translate(40vw, 40vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(244deg) translate(99vw, 99vh);
            transform: scale(0.25) rotate(244deg) translate(99vw, 99vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(345deg) translate(-49vw, -49vh);
            transform: scale(0.5) rotate(345deg) translate(-49vw, -49vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(59deg) translate(18vw, 18vh);
            transform: scale(0.5) rotate(59deg) translate(18vw, 18vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-cup-sh {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(186deg) translate(40vw, 40vh);
            transform: scale(0) rotate(186deg) translate(40vw, 40vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(244deg) translate(99vw, 99vh);
            transform: scale(0.25) rotate(244deg) translate(99vw, 99vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(345deg) translate(-49vw, -49vh);
            transform: scale(0.5) rotate(345deg) translate(-49vw, -49vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(59deg) translate(18vw, 18vh);
            transform: scale(0.5) rotate(59deg) translate(18vw, 18vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #cup {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-cup 2s ease-in;
          animation: bubble-cup 2s ease-in;
}

@-webkit-keyframes bubble-cup {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(46deg) translate(-13vw, -13vh);
            transform: scale(0) rotate(46deg) translate(-13vw, -13vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(343deg) translate(-36vw, -36vh);
            transform: scale(0.25) rotate(343deg) translate(-36vw, -36vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(7deg) translate(30vw, 30vh);
            transform: scale(0.5) rotate(7deg) translate(30vw, 30vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(276deg) translate(-45vw, -45vh);
            transform: scale(0.5) rotate(276deg) translate(-45vw, -45vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-cup {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(46deg) translate(-13vw, -13vh);
            transform: scale(0) rotate(46deg) translate(-13vw, -13vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(343deg) translate(-36vw, -36vh);
            transform: scale(0.25) rotate(343deg) translate(-36vw, -36vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(7deg) translate(30vw, 30vh);
            transform: scale(0.5) rotate(7deg) translate(30vw, 30vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(276deg) translate(-45vw, -45vh);
            transform: scale(0.5) rotate(276deg) translate(-45vw, -45vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #tea {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-tea 2s ease-in;
          animation: bubble-tea 2s ease-in;
}

@-webkit-keyframes bubble-tea {
  0% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0) rotate(309deg) translate(-81vw, -81vh);
            transform: scale(0) rotate(309deg) translate(-81vw, -81vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.25) rotate(240deg) translate(39vw, 39vh);
            transform: scale(0.25) rotate(240deg) translate(39vw, 39vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(148deg) translate(-37vw, -37vh);
            transform: scale(0.5) rotate(148deg) translate(-37vw, -37vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(82deg) translate(-1vw, -1vh);
            transform: scale(0.5) rotate(82deg) translate(-1vw, -1vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-tea {
  0% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0) rotate(309deg) translate(-81vw, -81vh);
            transform: scale(0) rotate(309deg) translate(-81vw, -81vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.25) rotate(240deg) translate(39vw, 39vh);
            transform: scale(0.25) rotate(240deg) translate(39vw, 39vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(148deg) translate(-37vw, -37vh);
            transform: scale(0.5) rotate(148deg) translate(-37vw, -37vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(82deg) translate(-1vw, -1vh);
            transform: scale(0.5) rotate(82deg) translate(-1vw, -1vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #teabag {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-teabag 2s ease-in;
          animation: bubble-teabag 2s ease-in;
}

@-webkit-keyframes bubble-teabag {
  0% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0) rotate(223deg) translate(93vw, 93vh);
            transform: scale(0) rotate(223deg) translate(93vw, 93vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.25) rotate(351deg) translate(-28vw, -28vh);
            transform: scale(0.25) rotate(351deg) translate(-28vw, -28vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(2deg) translate(5vw, 5vh);
            transform: scale(0.5) rotate(2deg) translate(5vw, 5vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(306deg) translate(28vw, 28vh);
            transform: scale(0.5) rotate(306deg) translate(28vw, 28vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-teabag {
  0% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0) rotate(223deg) translate(93vw, 93vh);
            transform: scale(0) rotate(223deg) translate(93vw, 93vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.25) rotate(351deg) translate(-28vw, -28vh);
            transform: scale(0.25) rotate(351deg) translate(-28vw, -28vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(2deg) translate(5vw, 5vh);
            transform: scale(0.5) rotate(2deg) translate(5vw, 5vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(306deg) translate(28vw, 28vh);
            transform: scale(0.5) rotate(306deg) translate(28vw, 28vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #bubble1 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-1 2s ease-in;
          animation: bubble-1 2s ease-in;
}

@-webkit-keyframes bubble-1 {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(35deg) translate(-9vw, -9vh);
            transform: scale(0) rotate(35deg) translate(-9vw, -9vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(256deg) translate(63vw, 63vh);
            transform: scale(0.25) rotate(256deg) translate(63vw, 63vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(360deg) translate(46vw, 46vh);
            transform: scale(0.5) rotate(360deg) translate(46vw, 46vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(333deg) translate(-9vw, -9vh);
            transform: scale(0.5) rotate(333deg) translate(-9vw, -9vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-1 {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(35deg) translate(-9vw, -9vh);
            transform: scale(0) rotate(35deg) translate(-9vw, -9vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(256deg) translate(63vw, 63vh);
            transform: scale(0.25) rotate(256deg) translate(63vw, 63vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(360deg) translate(46vw, 46vh);
            transform: scale(0.5) rotate(360deg) translate(46vw, 46vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(333deg) translate(-9vw, -9vh);
            transform: scale(0.5) rotate(333deg) translate(-9vw, -9vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #bubble2 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-2 2s ease-in;
          animation: bubble-2 2s ease-in;
}

@-webkit-keyframes bubble-2 {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(360deg) translate(60vw, 60vh);
            transform: scale(0) rotate(360deg) translate(60vw, 60vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(135deg) translate(26vw, 26vh);
            transform: scale(0.25) rotate(135deg) translate(26vw, 26vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(306deg) translate(26vw, 26vh);
            transform: scale(0.5) rotate(306deg) translate(26vw, 26vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(314deg) translate(-29vw, -29vh);
            transform: scale(0.5) rotate(314deg) translate(-29vw, -29vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-2 {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(360deg) translate(60vw, 60vh);
            transform: scale(0) rotate(360deg) translate(60vw, 60vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(135deg) translate(26vw, 26vh);
            transform: scale(0.25) rotate(135deg) translate(26vw, 26vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(306deg) translate(26vw, 26vh);
            transform: scale(0.5) rotate(306deg) translate(26vw, 26vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(314deg) translate(-29vw, -29vh);
            transform: scale(0.5) rotate(314deg) translate(-29vw, -29vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #bubble3 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-3 2s ease-in;
          animation: bubble-3 2s ease-in;
}

@-webkit-keyframes bubble-3 {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(199deg) translate(-5vw, -5vh);
            transform: scale(0) rotate(199deg) translate(-5vw, -5vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(343deg) translate(93vw, 93vh);
            transform: scale(0.25) rotate(343deg) translate(93vw, 93vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(142deg) translate(43vw, 43vh);
            transform: scale(0.5) rotate(142deg) translate(43vw, 43vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(324deg) translate(42vw, 42vh);
            transform: scale(0.5) rotate(324deg) translate(42vw, 42vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-3 {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(199deg) translate(-5vw, -5vh);
            transform: scale(0) rotate(199deg) translate(-5vw, -5vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(343deg) translate(93vw, 93vh);
            transform: scale(0.25) rotate(343deg) translate(93vw, 93vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(142deg) translate(43vw, 43vh);
            transform: scale(0.5) rotate(142deg) translate(43vw, 43vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(324deg) translate(42vw, 42vh);
            transform: scale(0.5) rotate(324deg) translate(42vw, 42vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #leaf1 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-leaf1 2s ease-in;
          animation: bubble-leaf1 2s ease-in;
}

@-webkit-keyframes bubble-leaf1 {
  0% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0) rotate(98deg) translate(-13vw, -13vh);
            transform: scale(0) rotate(98deg) translate(-13vw, -13vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.25) rotate(347deg) translate(76vw, 76vh);
            transform: scale(0.25) rotate(347deg) translate(76vw, 76vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(243deg) translate(27vw, 27vh);
            transform: scale(0.5) rotate(243deg) translate(27vw, 27vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(337deg) translate(46vw, 46vh);
            transform: scale(0.5) rotate(337deg) translate(46vw, 46vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-leaf1 {
  0% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0) rotate(98deg) translate(-13vw, -13vh);
            transform: scale(0) rotate(98deg) translate(-13vw, -13vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.25) rotate(347deg) translate(76vw, 76vh);
            transform: scale(0.25) rotate(347deg) translate(76vw, 76vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(243deg) translate(27vw, 27vh);
            transform: scale(0.5) rotate(243deg) translate(27vw, 27vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob4");
            clip-path: url("#blob4");
    -webkit-transform: scale(0.5) rotate(337deg) translate(46vw, 46vh);
            transform: scale(0.5) rotate(337deg) translate(46vw, 46vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #leaf2 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-leaf2 2s ease-in;
          animation: bubble-leaf2 2s ease-in;
}

@-webkit-keyframes bubble-leaf2 {
  0% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0) rotate(283deg) translate(-83vw, -83vh);
            transform: scale(0) rotate(283deg) translate(-83vw, -83vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.25) rotate(34deg) translate(93vw, 93vh);
            transform: scale(0.25) rotate(34deg) translate(93vw, 93vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(169deg) translate(-39vw, -39vh);
            transform: scale(0.5) rotate(169deg) translate(-39vw, -39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(299deg) translate(-5vw, -5vh);
            transform: scale(0.5) rotate(299deg) translate(-5vw, -5vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-leaf2 {
  0% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0) rotate(283deg) translate(-83vw, -83vh);
            transform: scale(0) rotate(283deg) translate(-83vw, -83vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.25) rotate(34deg) translate(93vw, 93vh);
            transform: scale(0.25) rotate(34deg) translate(93vw, 93vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(169deg) translate(-39vw, -39vh);
            transform: scale(0.5) rotate(169deg) translate(-39vw, -39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob5");
            clip-path: url("#blob5");
    -webkit-transform: scale(0.5) rotate(299deg) translate(-5vw, -5vh);
            transform: scale(0.5) rotate(299deg) translate(-5vw, -5vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #leaf3 {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-leaf3 2s ease-in;
          animation: bubble-leaf3 2s ease-in;
}

@-webkit-keyframes bubble-leaf3 {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(14deg) translate(-14vw, -14vh);
            transform: scale(0) rotate(14deg) translate(-14vw, -14vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(63deg) translate(67vw, 67vh);
            transform: scale(0.25) rotate(63deg) translate(67vw, 67vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(121deg) translate(-5vw, -5vh);
            transform: scale(0.5) rotate(121deg) translate(-5vw, -5vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(282deg) translate(42vw, 42vh);
            transform: scale(0.5) rotate(282deg) translate(42vw, 42vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-leaf3 {
  0% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0) rotate(14deg) translate(-14vw, -14vh);
            transform: scale(0) rotate(14deg) translate(-14vw, -14vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.25) rotate(63deg) translate(67vw, 67vh);
            transform: scale(0.25) rotate(63deg) translate(67vw, 67vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(121deg) translate(-5vw, -5vh);
            transform: scale(0.5) rotate(121deg) translate(-5vw, -5vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob1");
            clip-path: url("#blob1");
    -webkit-transform: scale(0.5) rotate(282deg) translate(42vw, 42vh);
            transform: scale(0.5) rotate(282deg) translate(42vw, 42vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #tea_overlay {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-tea-ov 2s ease-in;
          animation: bubble-tea-ov 2s ease-in;
}

@-webkit-keyframes bubble-tea-ov {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(322deg) translate(14vw, 14vh);
            transform: scale(0) rotate(322deg) translate(14vw, 14vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(36deg) translate(79vw, 79vh);
            transform: scale(0.25) rotate(36deg) translate(79vw, 79vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(193deg) translate(-25vw, -25vh);
            transform: scale(0.5) rotate(193deg) translate(-25vw, -25vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(235deg) translate(10vw, 10vh);
            transform: scale(0.5) rotate(235deg) translate(10vw, 10vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-tea-ov {
  0% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0) rotate(322deg) translate(14vw, 14vh);
            transform: scale(0) rotate(322deg) translate(14vw, 14vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.25) rotate(36deg) translate(79vw, 79vh);
            transform: scale(0.25) rotate(36deg) translate(79vw, 79vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(193deg) translate(-25vw, -25vh);
            transform: scale(0.5) rotate(193deg) translate(-25vw, -25vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob2");
            clip-path: url("#blob2");
    -webkit-transform: scale(0.5) rotate(235deg) translate(10vw, 10vh);
            transform: scale(0.5) rotate(235deg) translate(10vw, 10vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration #teabag_label {
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
  -webkit-animation: bubble-teabag-lb 2s ease-in;
          animation: bubble-teabag-lb 2s ease-in;
}

@-webkit-keyframes bubble-teabag-lb {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(172deg) translate(-80vw, -80vh);
            transform: scale(0) rotate(172deg) translate(-80vw, -80vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(328deg) translate(98vw, 98vh);
            transform: scale(0.25) rotate(328deg) translate(98vw, 98vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(315deg) translate(39vw, 39vh);
            transform: scale(0.5) rotate(315deg) translate(39vw, 39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(29deg) translate(40vw, 40vh);
            transform: scale(0.5) rotate(29deg) translate(40vw, 40vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

@keyframes bubble-teabag-lb {
  0% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0) rotate(172deg) translate(-80vw, -80vh);
            transform: scale(0) rotate(172deg) translate(-80vw, -80vh);
    opacity: 0;
  }
  25% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.25) rotate(328deg) translate(98vw, 98vh);
            transform: scale(0.25) rotate(328deg) translate(98vw, 98vh);
    opacity: 0.25;
  }
  50% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(315deg) translate(39vw, 39vh);
            transform: scale(0.5) rotate(315deg) translate(39vw, 39vh);
    opacity: 0.5;
  }
  75% {
    -webkit-clip-path: url("#blob3");
            clip-path: url("#blob3");
    -webkit-transform: scale(0.5) rotate(29deg) translate(40vw, 40vh);
            transform: scale(0.5) rotate(29deg) translate(40vw, 40vh);
    opacity: 0.75;
  }
  100% {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: scale(1) rotate(0deg) translate(0, 0);
            transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}

header div .full-screen-illustration svg.tea-svg {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: bounce 2s infinite linear;
          animation: bounce 2s infinite linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
/*# sourceMappingURL=style.css.map */